@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display:700');

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold 700;
}

main {
  margin: 1rem;
}

.leaflet-container {
  height: 65vh;
  width: 100%;
}