@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display:700');

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold 700;
}

.leaflet-container {
  height: 65vh;
  width: 100%;
}

main {
  margin: 1rem;
}

section {
  margin: 0 auto;
  max-width: 50rem;
  text-align: center;
}