@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display:700');

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold 700;
}

.leaflet-container {
  height: 70vh;
  width: 100%;
}

main {
  margin: 1rem;
  min-height: calc(90vh - 120px);
}

section {
  margin: 0 auto;
  max-width: 960px;
}

header {
  height: 90px;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) {
  header ul {
    margin: 5px 0;
    font-size: 0.9rem;
    float: none;
  }
}

.footer {
  height: 40px;
}